@model IEnumerable<MainProject.Models.New>

@{
    ViewBag.Title = "UDB+";
}

<main>
    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GzBX2hSOll0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col col-md-4">
                <div class="d-flex justify-content-center">
                    <div>
                        <h2>
                            @Html.DisplayFor(modelItem => item.Title)
                        </h2>
                        <p>
                            @Html.DisplayFor(modelItem => item.Content)
                        </p>
                        <p>
                            @Html.DisplayFor(modelItem => item.PublishDate)
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</main>